# Environment variables
.env

# Ignore other files
.idea/


# Ignore vector database
./data/vector_db/


# Byte-compiled / cache files
__pycache__/
*.pyc



# Ignore embedding model files
./src/embedder/model_checkpoints/


#Ignore docs files
./data/preprocessed/


